* {
    margin: 0px;
    padding: 0px;
}

.main {
    width: 100%;
    height: 100vh;
    background: url(back.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    padding: 25px;

}

#logo {
    width: 150px;
    height: 140px;
}

.form_data {
    /* background-color: lavender; */
    width: 50%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form_data>input {
    background-color: transparent;
    font-size: 20px;
    width: 100%;
    outline: none;
    margin-top: 14px;
    padding: 6px;
    border: none;
    height: 12px;
    border-bottom: 1px solid black;
}

.form_data>input:focus {
    border-bottom: 2px solid black;
}

input::placeholder {
    color: white;
}

.buttons {
    display: flex;
    justify-content: space-around;
    /* background-color: aquamarine; */
    width: 50%;
    margin-top: 20px;
}

#btn1,
#btn2 {
    background-color: transparent;
    font-size: 20px;
    color: white;
    width: 35%;
    height: 30px;
    padding: 2px;
    border: 1px solid black;
margin-top: 8px;
    align-items: center;
    cursor: pointer;
}

#btn1:active {
    color: black;
}

.td {
    border: 2px solid gray;
    background-color: lightgray;
    text-align: center;
    height: 50px;
    font-size: 19px;
    font-family: sans-serif;
    padding: 8px;
}

#btndel {
    border: 2px solid grey;
    background-color: transparent;
    font-size: 19px;
    font-family: sans-serif;
    padding: 8px;
}

#table {
    border: 2px solid grey;
    margin: 15px;
    padding: 10px;
    width: 95%;
}

#btn {
    display: none;
    background-color: transparent;
    font-size: 20px;
    color: white;
    width: 15%;
    height: 35px;
    padding: 6px;
    border: 1px solid black;
    margin-top: 19px;
    align-items: center;
    cursor: pointer;

}

#adminpass {
    margin-top: 25px;
    text-align: center;
    display: none;
}

@media only screen and (max-width: 768px) {
    .form_data {
        width: 100%;
    }

    #btn1,
    #btn2 {
        width: 45%;
        height: 33px;
    }


}